<div class="container">
    <br>
    <br>
</div>

<center>
<div class=".caja1">
<div class="col-sm-20">
    <div class="card">
        <div class="alert alert-danger" role="alert">
            <img src="p1.png" class="rounded float-left"  width="50px" height="50px"><h1> Paciente</h1>
                </div>
    <table class="table">
        <thead>
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>  
        <th scope="col">Edad</th>
            <th scope="col">Genero</th> 
            <th scope="col"> </th>
        </tr>      
    
        {{#if usuario}}
            <ul class="list-group">
                {{#each usuario}}
                    <tr>
                    <th scope="col">{{nombre}}</th>
                    <th scope="col">{{correo}}</th>  
                    <th scope="col">{{edad}} </th>
                    <th scope="col">{{genero}}</th> 
                    <th scope="col"><a href="/delete-usuario/{{@key}}" class="btn btn-danger">Borrar</a></th>
                    </tr>
                {{/each}}
            </ul>
            {{else}}
                <p>No hay Usuarios Ingresados.</p>
            {{/if}}
            </thead>
        </table>
    </div>
    </div>
</div>
</center>


<div class=".caja1">
    <div class="col-sm-10">
    <div class="card">
        <div class="alert alert-info" role="alert">
            <img src="p.png" class="rounded float-left"  width="40px" height="40px"><h3> Temperatura del Cliente<h3>
                </div>
    <div class="card-body">
        {{#if newhistorial}}
            <ul class="list-group">
                {{#each newhistorial}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{temp}}
                     </li>   
                    {{/each}}
                </ul>
            {{else}}
                <p>No hay Historial registrado.</p>
            {{/if}}
            </div>
        </div>
    </div>
</div>

